body {
    margin: 0;
    overflow-x: hidden;
}

.top_project_list {
    margin: 10px;
    width: calc(100% - 20px);
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.top_project_list a {
    display: block;
    aspect-ratio: 3/2;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 4px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    transition: height 0.1s, width 0.1s, transform 0.1s
}

.top_project_list a:hover {
    height: calc(100% + 6px);
    transform: translateY(-3px);
}

.project_frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.p_top {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.p_top .icon {
    aspect-ratio: 1/1;
    height: calc(100% - 10px);
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0 0 auto;
}

.p_top .name {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 24px;
    font-family: Arial;
    font-weight: 600;
    color: black;
}

.icon.none {
    background-image: url(nofavicon.svg);
}

.icon.kir {
    background-image: url(https://www.kircic.org/icon/favicon.ico);
    background-size: 80%;
}

.p_bottom {
    height: calc(65% - 30px);
    width: 100%;
}

.p_bottom span {
    display: block;
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}

.untouched {
    margin: 5px;
}

@media screen and (max-width: 767px) {
    .top_project_list {
        height: 20vh;
        overflow-x: auto;
        justify-content: left;
        margin: 0;
        width: 100vw;
    }

    .top_project_list a {
        width: 92vw;
        height: unset;
    }
}